.app{
    font-family:'Roboto';
    padding:20px;
}
.product-grid{
    display:grid;
    grid-template-columns:repeat (auto-fit, minmax(200px, 1fr));
    gap:20px;

}
.product-card{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}
